<div class="filter-container">
    <div class="row no-gutters">
        <div class="col-6 col-md-12 pr-2 pr-md-0">
            <div id="bc-sf-filter-top-sorting"></div>
        </div><!-- col -->
        <div class="col-6 col-md-12 pl-2 pl-md-0">
            <h3 class="filter-title">Filters {% include 'icon-chevron-down' %}</h3>
        </div><!-- col -->
    </div><!-- row -->
    <div class="filter-sidebar">
        <div id="bc-sf-filter-tree-h"></div>
        <div id="bc-sf-filter-tree-mobile"></div>
        <div id="bc-sf-filter-tree"></div>
    </div><!-- filter-sidebar -->
</div><!-- filter-container -->