<div class="avn-down" style="margin-top:-6px;"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="8.49px" height="5.91px" viewBox="0 0 8.49 5.91" style="enable-background:new 0 0 8.49 5.91;" xml:space="preserve">
<g>
	<polygon points="4.25,5.91 0,0.43 0.56,0 4.25,4.76 7.93,0 8.49,0.43 	"/>
</g>
  </svg></div>