<div class="product-quickview-frame">
    <div class="frame-content">
        <button class="frame-close">Close Window</button>
        <div class="product-frame">
        </div>
    </div><!-- frame-content -->
</div><!-- product-quickview-frame -->
<div class="product-quickview-overlay"></div>