 <section class="product-recently-viewed d-none test123" data-product-handle="{{product_handle}}" data-image-ratio="{{image_ratio}}">
    <div class="container-info">
        <div class="row">
            <div class="col-12">
              <div class="line-heading">
                <h3>{{title}}</h3>
              </div>
            </div><!-- col -->
        </div><!-- row -->

		<div id="recentlyViewed" class="featured-products-slick">
		</div><!-- featured-products-slick -->
	</div><!-- container -->
</section>