<div class="size-guide-frame">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="size-guide-container">
                    <h4>Size Guides <span class="size-guide-close">{% include 'icon-close' %}</span></h4>
                    <p>Check your measurements to find youer size.</p>
                    <p>Sizes guide is for reference only, length of the garments vary according to style.</p>
                    <p>Please find out more info from product description.</p>
                    <div class="row">
                        <div class="col">
                            <ul class="size-tabs d-none d-lg-flex">
                                <li class="active"><a href="#" data-option="size-guide">Single Sizes</a></li>
                                <li><a href="#" data-option="dual-size">Dual Sizes</a></li>
                                <li><a href="#" data-option="jean-size">Jean Sizes</a></li>
                                <li><a href="#" data-option="inside-leg">Inside Leg</a></li>
                                <li><a href="#" data-option="shoe-size">Footwear</a></li>
                            </ul>
                            <div class="size-tabs-select mb-3 d-lg-none">
                                <select>
                                    <option value="size-guide" data-option="size-guide">Single Sizes</option>
                                    <option value="dual-size" data-option="dual-size">Dual Sizes</option>
                                    <option value="jean-size" data-option="jean-size">Jean Sizes</option>
                                    <option value="inside-leg" data-option="inside-leg">Inside Leg</option>
                                     <option value="shoe-size" data-option="shoe-size">Footwear</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="size-guide-tab">
<table class="active" data-table="size-guide">
    <thead>
        <tr>
            <th scope="col">Size</th>
            <th scope="col">Bust</th>
            <th scope="col">Waist</th>
            <th scope="col">Hip</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="UK SIZE">6</td>
            <td data-label="Bust Size">
                <span class="height-cm">80CM</span>
                <span class="height-inch">31.5"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">61CM</span>
                <span class="height-inch">24"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">84CM</span>
                <span class="height-inch">33"</span>
            </td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">8</td>
            <td data-label="Bust Size">
                <span class="height-cm">82.5CM</span>
                <span class="height-inch">32.5"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">63.5CM</span>
                <span class="height-inch">25"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">87.5CM</span>
                <span class="height-inch">34.5"</span>
            </td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">10</td>
            <td data-label="Bust Size">
                <span class="height-cm">86.5CM</span>
                <span class="height-inch">34"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">67.5CM</span>
                <span class="height-inch">26.5"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">91.5CM</span>
                <span class="height-inch">36"</span>
            </td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">12</td>
            <td data-label="Bust Size">
                <span class="height-cm">91.5CM</span>
                <span class="height-inch">36"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">72.5CM</span>
                <span class="height-inch">28.5"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">96.5CM</span>
                <span class="height-inch">38"</span>
            </td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">14</td>
            <td data-label="Bust Size">
                <span class="height-cm">96.5CM</span>
                <span class="height-inch">38"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">77.5CM</span>
                <span class="height-inch">30.5"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">101.5CM</span>
                <span class="height-inch">40"</span>
            </td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">16</td>
            <td data-label="Bust Size">
                <span class="height-cm">101.5CM</span>
                <span class="height-inch">40"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">82.5CM</span>
                <span class="height-inch">32.5"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">106.5CM</span>
                <span class="height-inch">42"</span>
            </td>
        </tr>
    </tbody>
</table>

<table data-table="dual-size">
    <thead>
        <tr>
            <th scope="col">UK Size</th>
            <th scope="col">Bust</th>
            <th scope="col">Waist</th>
            <th scope="col">Hip</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">S/M</span>
                <span class="height-inch">8/10</span>
            </td>
            <td data-label="Bust Size">
                <span class="height-cm">81.5-86.5CM</span>
                <span class="height-inch">32-34"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">66-71CM</span>
                <span class="height-inch">26-28"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">86.5-91.5CM</span>
                <span class="height-inch">34-36"</span>
            </td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">M/L</span>
                <span class="height-inch">12/14</span>
            </td>
            <td data-label="Bust Size">
                <span class="height-cm">86.5-91.5CM</span>
                <span class="height-inch">34-36"</span>
            </td>
            <td data-label="Waist Size">
                <span class="height-cm">71-76CM</span>
                <span class="height-inch">28-30"</span>
            </td>
            <td data-label="Hip Size">
                <span class="height-cm">91.5-96.5CM</span>
                <span class="height-inch">36-38"</span>
            </td>
        </tr>
    </tbody>
</table>
<table data-table="jean-size">
    <thead>
        <tr>
            <th scope="col">Size</th>
            <th scope="col">Waist</th>
            <th scope="col">Low Waist</th>
            <th scope="col">Hips</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 4</span>
                <span class="height-inch">EU 32</span>
            </td>
            <td data-label="Waist">25.5</td>
            <td data-label="Low Waist">27.5</td>
            <td data-label="Hips">36</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 6</span>
                <span class="height-inch">EU 34</span>
            </td>
            <td data-label="Waist">26.5</td>
            <td data-label="Low Waist">28.5</td>
            <td data-label="Hips">37</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 8</span>
                <span class="height-inch">EU 36</span>
            </td>
            <td data-label="Waist">27.5</td>
            <td data-label="Low Waist">29.5</td>
            <td data-label="Hips">38</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 10</span>
                <span class="height-inch">EU 38</span>
            </td>
            <td data-label="Waist">28.5</td>
            <td data-label="Low Waist">30.5</td>
            <td data-label="Hips">39</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 12</span>
                <span class="height-inch">EU 40</span>
            </td>
            <td data-label="Waist">30.5</td>
            <td data-label="Low Waist">32.5</td>
            <td data-label="Hips">40.5</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 14</span>
                <span class="height-inch">EU 42</span>
            </td>
            <td data-label="Waist">31.5</td>
            <td data-label="Low Waist">33.5</td>
            <td data-label="Hips">42</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK SIZE">
                <span class="height-cm">UK 16</span>
                <span class="height-inch">EU 44</span>
            </td>
            <td data-label="Waist">33</td>
            <td data-label="Low Waist">35</td>
            <td data-label="Hips">43.5</td>
        </tr>
    </tbody>
</table>
<table data-table="inside-leg">
    <thead>
        <tr>
            <th scope="col">Size</th>
            <th scope="col">Short</th>
            <th scope="col">Regular</th>
            <th scope="col">Long</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="UK SIZE">"</td>
            <td data-label="Short">30</td>
            <td data-label="Regular">32</td>
            <td data-label="Long">34</td>
        </tr>
    </tbody>
</table>
<table data-table="shoe-size">
    <thead>
        <tr>
            <th scope="col">UK</th>
            <th scope="col">EUR</th>
            <th scope="col">Italy</th>
            <th scope="col">USA</th>
            <th scope="col">AUS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="UK">3</td>
            <td data-label="EUR">36</td>
            <td data-label="Italy">35</td>
            <td data-label="USA">5</td>
            <td data-label="AUS">4</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK">4</td>
            <td data-label="EUR">37</td>
            <td data-label="Italy">36</td>
            <td data-label="USA">6</td>
            <td data-label="AUS">5</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK">5</td>
            <td data-label="EUR">38</td>
            <td data-label="Italy">37</td>
            <td data-label="USA">7</td>
            <td data-label="AUS">6</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK">6</td>
            <td data-label="EUR">39</td>
            <td data-label="Italy">38</td>
            <td data-label="USA">8</td>
            <td data-label="AUS">7</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK">7</td>
            <td data-label="EUR">40</td>
            <td data-label="Italy">39</td>
            <td data-label="USA">9</td>
            <td data-label="AUS">8</td>
        </tr>
        <tr>
            <td scope="row" data-label="UK">8</td>
            <td data-label="EUR">41</td>
            <td data-label="Italy">40</td>
            <td data-label="USA">10</td>
            <td data-label="AUS">9</td>
        </tr>
    </tbody>
</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- size-guide-container -->
<div class="size-guide-overlay"></div>