{% if section.settings.enable_auto_redirect == true %}
<div class="store-redirect d-none" data-store-address="{{shop.domain}}"></div>

<div class="redirect-popup">
    <div class="redirect-content">
        <p>You're currently viewing our {% if shop.domain contains "us" %}US{% elsif shop.domain contains "au" %}AU{% elsif shop.domain contains "eu" %}EU{% else %}UK{% endif %} store. Based on your location, we recommend visiting our <span class="target-country"></span> store for the best experience</p>
        <a class="btn btn-primary btn-redirect" data-store-id="">Go to <span class="target-country"></span> store</a>
        <a class="redirect-close">Stay on this store</a> 
    </div>
</div>
<div class="redirect-overlay"></div> 
{% endif %}

{% schema %}
{
    "name": "Store Redirect",
	"settings": [
        {
            "type": 	"header",
            "content": 	"Logic"
        },
        {
            "type": 	"paragraph",
            "content": 	"EU customers will be asked to go to the EU store. USA & Canada customers, will be asked to go to the USA store. AU and NZ customers will go to the AU store. The rest of the world will default to the UK store. If user changes preference, no redirect will occur."
        },
		{
			"type": "checkbox",
			"id": "enable_auto_redirect",
			"default": true,
			"label": "Enable store suggestion redirect?"
		} 
	]
}
{% endschema %}